/node_modules
/public/hot
/public/storage
/public/*.js
/public/*.css
/public/css
/public/js
/public/images
/public/fonts
/public/*.txt
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
