// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import '~@mdi/font/css/materialdesignicons.min.css';
@import '~vuetify/dist/vuetify.min.css';

// Variables
@import 'overrides';
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';